<% content_for :submenu do %>
  <div class="ui sub menu">
    <%= link_to "Listar", patients_path, class: "item" %>
    <%= link_to "Adicionar", new_patient_path, class: "item active" %>
  </div>
<% end %>

<div class="ui form segment">
  <%= form_for @patient, url: {action: "create"} do |patient| %>
    <%= render 'patient', patient: patient %>
  <% end %>
</div>

<%= javascript_tag do %>
  var zipcode = '';
  $('.ui.form').form({
    personName: {
      identifier: 'patient_person_attributes_name',
      rules: [
        {
          type: 'empty',
          prompt: 'Por favor entre com o nome completo'
        }
      ]
    },
    personBirth: {
      identifier: 'patient_person_attributes_birth',
      rules: [
        {
          type:   'empty',
          prompt: 'Por favor entre com uma data'
        },
        {
          type:   'date',
          prompt: 'Por favor entre com uma data válida'
        }
      ]
    },
    personGender: {
      identifier: 'patient_person_attributes_gender',
      rules: [
        {
          type: 'empty',
          prompt: 'Por favor escolha um sexo'
        }
      ]
    },
    addressZip: {
      identifier: 'patient_person_attributes_address_attributes_zip',
      rules: [
        {
          type:   'smartInteger',
          prompt: 'Por favor entre somente com números'
        },
        {
          type:   'smartLength[8]',
          prompt: 'Por favor entre com apenas oito números'
        }
      ]
    }
  }, {
    inline: 'true',
    on: 'submit',
    onFailure: function(){
      $('<%= browser.chrome? ? "body" : "html" %>').animate({
        scrollTop: $('.field.error:first').offset().top - 21
      });
      return false;
    }
  });

  $('#patient_person_attributes_address_attributes_zip').blur(function(obj){
    var current = $(this).val();
    if(current && $.fn.form.settings.rules.smartInteger(current) && $.fn.form.settings.rules.smartLength(current, 8) && zipcode != current) {
      zipcode = current;
      $('.ui.form').addClass('loading');
      $.get("http://cep.republicavirtual.com.br/web_cep.php", {formato: 'json',cep: zipcode}, function(res){
        fillAddress(res);
      }).always(function(){
        $('.ui.form').removeClass('loading');
      });
    }
  });

  $('.ui.selection.dropdown').dropdown();

  $.datepicker.setDefaults($.datepicker.regional["pt-BR"]);
  $('#patient_person_attributes_birth').datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: '1900:' + new Date().getFullYear()
  });
<% end %>