<% content_for :submenu do %>
  <div class="ui sub menu">
    <%= link_to "Listar", patients_path, class: "item" %>
    <%= link_to "Adicionar", new_patient_path, class: "item active" %>
  </div>
<% end %>

<div class="ui form segment">
  <%= form_for @patient, url: {action: "create"} do |form| %>
    <h3 class="ui left floated header">Dados pessoais</h3>
    <div class="ui clearing divider"></div>
    <%= render 'shared/error_messages', object: form.object %>
    <%= form.fields_for :person do |person| %>
      <div class="ui two column grid">
        <div class="column">
          <div class="field">
            <%= person.label :name, "Nome completo" %>
            <div class="ui left labeled icon input">
              <%= person.text_field :name, placeholder:"nome sobrenome" %> 
              <i class="user icon"></i>
              <div class="ui corner label"><i class="icon asterisk"></i></div>
            </div>
          </div>
          <div class="two fields">
            <div class="field">
              <%= person.label :birth, "Nascimento" %>
              <div class="ui left labeled icon input">
                <%= person.text_field :birth, placeholder:"dd/mm/aaaa" %>
                <i class="date basic icon"></i>
                <div class="ui corner label"><i class="icon asterisk"></i></div>
              </div>
            </div>
          </div>
          <div class="field">
            <%= person.label :gender, "Sexo" %>
            <div class="ui selection dropdown">
              <%= person.hidden_field :gender %>
              <div class="default text">sexo</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <div class="item" data-value="male">Masculino</div>
                <div class="item" data-value="female">Feminino</div>
              </div>
            </div>
          </div>
          <div class="two fields">
            <div class="field cpf">
              <%= person.label :cpf, "CPF" %>
              <%= person.text_field :cpf, placeholder:"cpf" %>
            </div>
            <div class="field rg">
              <%= person.label :rg, "RG" %>
              <%= person.text_field :rg, placeholder:"rg" %>
            </div>
          </div>          
        </div>
        <div class="column">
          
        </div>
      </div>
      <h3 class="ui left floated header">Contato</h3>
      <div class="ui clearing divider"></div>
      <%= person.fields_for :contact do |contact| %>
        <div class="ui two column grid">
          <div class="column">
            <div class="field">
              <%= contact.label :email, "E-mail" %>
              <div class="ui left icon input">
                <%= contact.text_field :email, placeholder:"e-mail" %> 
                <i class="mail icon"></i>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <%= contact.label :landline, "Telefone residencial" %>
                <div class="ui left icon input">
                  <%= contact.text_field :landline, placeholder:"telefone residencial" %> 
                  <i class="phone icon"></i>
                </div>
              </div>
              <div class="field">
                <%= contact.label :mobile, "Celular" %>
                <div class="ui left icon input">
                  <%= contact.text_field :mobile, placeholder:"celular" %> 
                  <i class="mobile icon"></i>
                </div>
              </div>
            </div>
            <div class="two fields">
              <div class="field">
                <%= contact.label :business, "Telefone comercial" %>
                <%= contact.text_field :business, placeholder:"telefone comercial" %> 
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <h3 class="ui left floated header">Endereço</h3>
      <div class="ui clearing divider"></div>
      <%= person.fields_for :address do |address| %>
        <div class="ui two column grid">
          <div class="column">
            <div class="field">
              <%= address.label :street, "Logradouro" %>
              <%= address.text_field :street, placeholder:"rua/avenida" %>
            </div>
            <div class="two fields">
              <div class="field">
                <%= address.label :number, "Número" %>
                <%= address.text_field :number, placeholder:"número" %>
              </div>
              <div class="field">
                <%= address.label :complement, "Complemento" %>
                <%= address.text_field :complement, placeholder:"complemento" %>
              </div>
            </div>
            <div class="field">
              <%= address.label :district, "Bairro" %>
              <%= address.text_field :district, placeholder:"bairro" %>
            </div>
            <div class="field">
              <%= address.label :city, "Cidade" %>
              <%= address.text_field :city, placeholder:"cidade" %>
            </div>
            <div class="field">
              <%= address.label :state, "Estado" %>
              <div class="ui selection dropdown state">
                <%= address.hidden_field :state %>
                <div class="default text">estado</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <% states.each do |state| %>
                    <div class="item" data-value="<%= state.last %>"><%= state.first %></div>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="two fields">
              <div class="field zip">
                <%= address.label :zip, "CEP" %>
                <%= address.text_field :zip, placeholder:"cep" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= form.submit "Salvar", class: "ui blue submit button" %>

    <%= javascript_tag do %>
      <% if form.object.errors[:"person.cpf"].any? %>
        $('.field.cpf').addClass('error');
      <% end %>
      <% if form.object.errors[:"person.rg"].any? %>
        $('.field.rg').addClass('error');
      <% end %>
    <% end %>
  <% end %>
</div>

<%= javascript_tag do %>
  var zipcode = '';
  $('.ui.form').form({
    personName: {
      identifier: 'patient_person_attributes_name',
      rules: [
        {
          type: 'empty',
          prompt: 'Por favor entre com o nome completo'
        }
      ]
    },
    personBirth: {
      identifier: 'patient_person_attributes_birth',
      rules: [
        {
          type:   'empty',
          prompt: 'Por favor entre com uma data'
        },
        {
          type:   'date',
          prompt: 'Por favor entre com uma data válida'
        }
      ]
    },
    personGender: {
      identifier: 'patient_person_attributes_gender',
      rules: [
        {
          type: 'empty',
          prompt: 'Por favor escolha um sexo'
        }
      ]
    },
    addressZip: {
      identifier: 'patient_person_attributes_address_attributes_zip',
      rules: [
        {
          type:   'smartInteger',
          prompt: 'Por favor entre somente com números'
        },
        {
          type:   'smartLength[8]',
          prompt: 'Por favor entre com apenas oito números'
        }
      ]
    }
  }, {
    inline: 'true',
    on: 'submit',
    onFailure: function(){
      $('<%= browser.chrome? ? "body" : "html" %>').animate({
        scrollTop: $('.field.error:first').offset().top - 21
      });
      return false;
    }
  });

  $('#patient_person_attributes_address_attributes_zip').blur(function(obj){
    var current = $(this).val();
    if(current && $.fn.form.settings.rules.smartInteger(current) && $.fn.form.settings.rules.smartLength(current, 8) && zipcode != current) {
      zipcode = current;
      $('.ui.form').addClass('loading');
      $.get("http://cep.republicavirtual.com.br/web_cep.php", {formato: 'json',cep: zipcode}, function(res){
        fillAddress(res);
      }).always(function(){
        $('.ui.form').removeClass('loading');
      });
    }
  });

  $('.ui.selection.dropdown').dropdown();

  $.datepicker.setDefaults($.datepicker.regional["pt-BR"]);
  $('#patient_person_attributes_birth').datepicker({
    changeMonth: true,
    changeYear: true,
    yearRange: '1900:' + new Date().getFullYear()
  });
<% end %>