<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>SGE</title>

    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <div class="ui menu <%= "tiered" if ["patients"].include?(params[:controller]) %>">
    <div class="menu">
      <%= link_to raw("<i class=\"home icon\"></i>Início"), root_path, class: "item#{params[:controller] == "home" ? " active" : nil }" %>
      <%= link_to raw("<i class=\"users icon\"></i>Pacientes"), patients_path, class: "item#{params[:controller] == "patients" ? " active" : nil }" %>
      <a class="item">
        <i class="medkit icon"></i>
        Planos de saúde
      </a>
    </div>
    <%= yield :submenu %>
  </div>

  <%= yield %>
 
  </body>
</html>